<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="CsSatis" connectionString="Data Source=DESKTOP-4JE8ADO\SQLEXPRESS;Initial Catalog=SatısProjesi;Integrated Security=True"/>
	</connectionStrings>
</configuration>